<h1> About </h1>

<h4>To Reed basketball players: </h4>
  This website serves to show Coach Ried and other players who is planning on
  coming to open gyms. Please note that all information is publicly viewable and
  may eventually show up in search engines (Google). Feel free to contact me
  (Matt '13) if you have any comments or questions!

<h4>To potential employers: </h4>
  Thank you for viewing my Rails site.
