<h1> Reed College Basketball </h1>

<p> Enter your desired username in the box below. </p>

<form action="/users" method="post">
  <input type="text" name="user[name]">
  <br>
  <br>
  <input type="submit" value="Create new user" class='btn btn-default'>
</form>
