<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tealeaf Todo</a>
    </div>
  </div>
</nav>

<header class="navbar navbar-default">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'back',   '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'about',   '#', class: 'btn btn-primary-outline' %></li>
        </ul>
      </nav>
    </div>
  </header>
