// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 30px;
}

.container {
  text-align: left;
}

.container h1 {
  margin-bottom: 100px;
}
/*combine both containers in Hartl Ch 5 (nesting)*/

p {

}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
